@font-face{
    src: url("../assets/fonts/Skater\ Girls\ Rock.ttf");
    font-family: skater;
}

body{
    background-color: rgb(69, 172, 223, 255);
    min-width: 1650px;
}

.penguin-membership{
    display: block;
    width: 110px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 15px;
}

.fix-note{
    position: absolute;
    width: 310px;
    left: 78%;
}

.audio{
    position: absolute;
    left: 800px;
    right: 55px;
    bottom: 500px;
}

.titles{
    text-align: center;
    font-family: skater;
    color: rgb(243, 236, 21, 255);
    letter-spacing: 4px;
    border: 10px ridge rgb(236, 173, 101);
    background-color: rgb(231, 170, 39);
    margin-right: 450px;
    margin-left: 450px;
    margin-top: 40px;
}

.first-button:hover{
    position: absolute;
    left: 5vw;
}

.second-button{
    position: absolute;
    top: 450px;
    left: 28vw;
    border: 4px dashed rgb(255, 102, 0);
}

.third-button{
    position: absolute;
    top: 600px;
    left: 10vw;
    border: 100px dotted rgb(69, 172, 223, 255);
}

.flippy{
    display: block;
    margin-left: auto;
    margin-right: 500px;
}

.toontown-homepage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 8px groove rgb(255, 196, 0);
    margin-bottom: 50px;
}

.intro-text{
    background: #00b4eb;
    background: radial-gradient(circle, rgba(0, 180, 235, 1) 0%,
     rgba(15, 145, 245, 1) 93%);
    border: 10px dashed rgb(255, 218, 9);
    margin-right: 350px;
    margin-left: 350px;
    padding-left: 60px;
    padding-right: 60px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: skater;
    letter-spacing: 3px;
    color: rgb(2, 40, 65);
    line-height: 25px;
}

span{
    color: rgb(219, 74, 17);
}

.clarabelle{
    display: block;
    margin-left: 300px;
    margin-right: auto;
}

.reminders{
    position: absolute;
    left: 60%;
}

.penguin-town-square{
    display: block;
    width: 650px;
    margin-left: 160px;
    margin-bottom: 30px;
    border: 15px ridge rgb(133, 99, 12);
}

.toontown-townhall{
    display: block;
    width: 650px;
    margin-left: auto;
    margin-right: 160px;
    border: 15px ridge rgb(133, 99, 12);
    margin-bottom: 90px;
    margin-top: 90px;
}

.pixie-hollow{
    display: block;
    width: 650px;
    margin-left: 160px;
    margin-bottom: 30px;
    border: 15px ridge rgb(133, 99, 12);
    margin-bottom: 70px;
}

.list{
    /* background-color: rgb(164, 221, 248); */
    background: radial-gradient(circle, rgba(0, 180, 235, 1) 0%,
    rgba(15, 145, 245, 1) 93%);
    border: 10px dashed rgb(255, 218, 9);
    margin-right: 350px;
    margin-left: 350px;
    padding-left: 60px;
    padding-right: 60px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: skater;
    letter-spacing: 3px;
    color: rgb(15, 51, 80);
    line-height: 27px;
}

xmp{
    text-align: center;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.buildings{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}